<h3 i18n="@@CartHeader">Cart</h3>

<p>
  <a i18n="@@ShippingPrices" routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span i18n="@@ItemPrice"> {{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label i18n="@@Name" for="name">Name</label>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <label i18n="@@Address" for="address">Address</label>
    <input id="address" type="text" formControlName="address" />
  </div>
  <button i18n="@@Purchase" class="button" type="submit">Purchase</button>
</form>
