<h2 i18n="@@ProductsHeader">Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a
      i18n="@@ProductName"
      [title]="product.name + ' details '"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>

  <p i18n="@@ProductDescription" *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button i18n="@@Share" type="button" (click)="share()">Share</button>
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
